.sidebar__items {
    position: fixed;
    top: 60px;
    left: 0;
    text-align: center;
    min-height: 100vh;
    height: 100%;

    background-color: rgb(17, 25, 33);
    padding-left: 15px;
    padding-top: 70px;
    
    width: 65px;
    z-index: 999;
}

.sidebar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    
}

.sidebar__item:hover .sidebar__item-title{
    color: #fff;
}

.sidebar__item:hover .sidebar__item-icon{
    fill: #fff ;
}

.sidebar__item-icon {
    width: 35px;
    height: 35px;
    fill: #ccc;
}

.sidebar__item-title {
    font-size: 21px;
    font-weight: 500;
    color: #ccc;
    text-decoration: none;
    display: none;
}

.sidebar__item-feedback {
    position: absolute;
    bottom: 70px;
}


/* Burger Menu */

.menu-burger__header {
    position: fixed;
    left: 0;
    top: 0; 
    width: 35px; 
    height: 35px;
    display: block;
    margin-left: 15px;
    margin-top: 12.5px;
    z-index: 9999999;
    cursor: pointer;
}

.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background: rgb(17, 25, 33);
    margin: 0 auto;
}
.menu-burger__header span{
    top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
    content: '';
}
.menu-burger__header:after{
    bottom: 7px;
}
.menu-burger__header:before{
    top: 7px;
}

.menu-burger__header.open-menu span {
    opacity:0; 
    transition: 0.1s; 
}
.menu-burger__header.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}

.fade__page {
    display: none;
    background-color: black;
    opacity: 0;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 99;
}




.show__fadePage {
    opacity: .7;
    transition: all .3s linear;
}

@media(max-width: 692px) {
    .sidebar__item-feedback {
        position: unset;
      
    }
}